// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
body {
  --ion-background-color: #1a1a1a;
  --ion-background-color-rgb: 26, 26, 26;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-toolbar-background: #2b2b2b;
  --ion-tab-bar-background: #2b2b2b;
  --ion-card-background: #2b2b2b;
  --ion-item-background: #2b2b2b;
  --ion-border-color: #3a3a3a;
}

.page-title {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
}