<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <app-mini-player></app-mini-player>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>{{ languageService.translate('home') }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="charts" href="/charts">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>{{ languageService.translate('charts') }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favourites" href="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>{{ languageService.translate('favourites') }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history" href="/history">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>{{ languageService.translate('history') }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings" href="/settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>{{ languageService.translate('settings') }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>