<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange()">
    <ion-segment-button value="tracks">
      <ion-label>Top Tracks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="artists">
      <ion-label>Top Artists</ion-label>
    </ion-segment-button>
    <ion-segment-button value="deezer">
      <ion-label>Deezer Charts</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <div *ngIf="!isLoading">
    <ion-list *ngIf="selectedSegment === 'tracks'">
      <ion-item
        *ngFor="let track of topTracks; let i = index"
        (click)="goToTrackDetails(track.artist.name, track.name)"
        button>
        <div slot="start" class="rank">{{ i + 1 }}</div>
        <ion-thumbnail slot="start">
          <ion-img [src]="track.image[1]['#text'] || 'assets/placeholder.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ track.name }}</h2>
          <p>{{ track.artist.name }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedSegment === 'artists'">
      <ion-item
        *ngFor="let artist of topArtists; let i = index"
        (click)="goToArtistDetails(artist.name)"
        button>
        <div slot="start" class="rank">{{ i + 1 }}</div>
        <ion-thumbnail slot="start">
          <ion-img [src]="artist.image[1]['#text'] || 'assets/placeholder.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ artist.name }}</h2>
          <p>{{ artist.listeners | number }} listeners</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectedSegment === 'deezer'">
      <ion-item
        *ngFor="let track of deezerCharts; let i = index"
        (click)="goToTrackDetails(track.artist.name, track.title)"
        button>
        <div slot="start" class="rank">{{ i + 1 }}</div>
        <ion-thumbnail slot="start">
          <ion-img [src]="track.album.cover_medium || 'assets/placeholder.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ track.title }}</h2>
          <p>{{ track.artist.name }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
